* { border: 1px solid red; }

img {
  width: 500px;
  height: 600px;
  float: center;
}

.jumbotrons {
  background-color: black;
  border-style: inset;
  border-color: cornflowerblue
}

button {
  background-color: red;
}

input {
  background-color: darkgray;
}

#new-place {
  display: flex;
  flex-direction: column;


  border-style: groove;
  border-color: cornflowerblue;
}

.reveal-places {
  border-style: groove;
  border-color: cornflowerblue;
  height: 250px;
}

form {
  column-count: 1;
  columns: center;
}

.forms-class {

}

label {
  padding: 15px;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  color: aqua;
}

#show-places {
  display: none;
}

/* ul { 
  padding-left: 0;
} */